# obsidian workspace state
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json

# macos
.DS_Store

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
